[submodule "libs/time-shield-cpp"]
	path = libs/time-shield-cpp
	url = https://github.com/NewYaroslav/time-shield-cpp.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule ".github/doxygen-awesome-css"]
	path = .github/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "libs/zstd"]
	path = libs/zstd
	url = https://github.com/facebook/zstd.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib
